
#section2{
    width: 100%;
    background-color: #F4F4F7;

color: #F4F4F7;
}
.section2-div{
    width: 96%;
text-align:justify;
margin: auto;
background-color: #F4F4F7;
}
.textColor{
    text-decoration-color: #6F6E72;
    color: #6F6E72;

}
